@page
@model IndexModel
@using League.Models;

@{
  ViewData["Title"] = "Team page";
}

<div class="jumbotron p-2 d-flex justify-content-between">
    <h2 class="display-3"><img src="/image/nfl/nfl.png"> Teams 2019-2020</h2>
    <form class="d-flex">
        <div class="form-group pr-2">
            <label class="col-form-label" asp-for="FavoriteTeam" class="control-label">Favorite:</label>
            <select class="form-control" asp-for="FavoriteTeam" asp-items="Model.AllTeams" onchange="this.form.submit();">
                <option value="">None</option>
            </select>
        </div>
    </form>
</div>

@foreach (Conference Conference in Model.Conferences)
{
    @foreach (Division Division in Model.GetConferenceDivisions(Conference.ConferenceId))
    {
        <h2 class="p-1 text-center bg-primary text-white">@Division.DivisionId</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Location</th>
                    <th scope="col">Name</th>
                    <th scope="col">Team</th>
                    <th scope="col">Win</th>
                    <th scope="col">Loss</th>
                    <th scope="col">Tie</th>
                    <th scope="col">PointsFor</th>
                    <th scope="col">PointsAgainst</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Team Team in Model.GetDivisionTeams(Division.DivisionId))
            {
                @*<a class="@(Team.TeamId == Model.FavoriteTeam ? "d-flex favorite p1" : "d-flex p1")" asp-page="./Team" asp-route-id="@Team.TeamId">*@

                <tr class="@(Team.TeamId == Model.FavoriteTeam ? "favorite" : "")">
                    <th scope="row">@Team.Location</th>
                    <td>@Team.Name</td>
                    <td>@Team.TeamId</td>
                    <td>@Team.Win</td>
                    <td>@Team.Loss</td>
                    <td>@Team.Tie</td>
                    <td>@Team.PointsFor</td>
                    <td>@Team.PointsAgainst</td>
                </tr>            
            }
            </tbody>
        </table>
    }
}